:root {
--background-color-black: #121212;
--chat-bg-color: #616161 !important;
--agent-bubble-bg: #818181 !important
}

body {
 background-color: var(--background-color-black) !important;
}
.box-title {
    background-color: #212121 !important;
    box-shadow: 0px 0px 10px #000 !important;
}
.service-content:nth-child(2n), .service-content:nth-child(2n+1) {
    background-color: #212121 !important;
    color: #aaa !important;
}
.icon-text-box {
    background-color: #424242 !important;
    color: #ccc !important;
    box-shadow: 0px 0px 5px #111 !important;
}
span {
    color: #ddd !important;
}
.service-nav-new .content {
    background-color: #212121 !important;
}
.service-nav-new .content .entry .value {
    color: #ddd !important;
}
#service-sidebar-new .package-status {
    background-color: #212121 !important;
}
#service-sidebar-new .package-status .info-description {
    color: #ddd !important;
}
.button {
    background-color: #616161 !important;
}
heading-box {
    background-color: #424242 !important;
    box-shadow: 0px 0px 5px #222 !important;
}
.post {
    background-color: #424242 !important;
    box-shadow: 0px 0px 5px #111 !important;
}
.post .sidebar {
    background-color: #424242 !important;
}
.post .content {
    background-color: #424242 !important;
    color: #ddd !important;
}
.post .sidebar .title {
    color: #ddd !important;
}
#service-sidebar-new .nav .dropdown-nav li {
    background-color: #212121;
    margin: 5px !important;
    box-shadow: 0px 0px 5px #000;
}
#sitemap {
    background-color: #212121 !important;
}
.announcer .announcement, .announcer .icon-container {
    background-color: #424242 !important;
    color: #ddd !important;
    box-shadow: 0px 0px 5px #111 !important;
}
.heading-box {
    background-color: #424242;
}
.heading-box .title {
    background-color: #616161;
    color: #fff;
}
.table-new {
    background-color: #424242;
    box-shadow: 0px 0px 5px #111;
}
.table-new thead tr th {
    background-color: #424242;
    color: #ddd;
}
.quote .text {
    background-color: #424242;
    color: #ddd;
    box-shadow: 0px 0px 5px #111;
}
#main.is-widget .container__inner {
    box-shadow: 0px 0px 10px #000;
}
.input-area {
background: #424242 !important;
}
.dropdown-fancy .chosen-container .chosen-single, .dropdown-fancy .chosen-container.chosen-container-active .chosen-single {
    color: #ddd;
    background-color: #424242 !important;
    box-shadow: 0px 0px 5px #111;
}
.configuration-module-dropdown .chosen-drop, .dropdown-fancy .chosen-drop {
    box-shadow: 0px 0px 10px #111;
}
.chosen-container .chosen-drop {
    background: #424242;
}
.chosen-container .chosen-results {
    color: #ddd;
}
.heading-box .title-container {
    background-color: #616161;
}
.event-box {
    background-color: #424242;
}
.event-box header .title {
    color: #ddd;
}
.event-box header .subline {
    color: #ddd;
}
.event-box .event-box-content {
    color: #aaa;
}
.event-box .event-box-content strong {
    color: #aaa;
}
.content-dropdown {
    background-color: #212121;
    box-shadow: 0px 0px 5px #000;
}
.content-dropdown .content.content-grey {
    background-color: #212121;
}
.element-box {
    background-color: #424242;
    box-shadow: 0px 0px 5px #111;
}
.element-box .element.element-grey {
    background-color: #424242;
}
#nav {
    background: #212121;
    box-shadow: 0px 0px 5px #222;
}
#nav .search {
    background-color: #212121 !important;
}
